 .head{

    font-size: 0.8125rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    color: #3366ff;
}
.data{

    font-size: 0.8125rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
}
button{
    text-transform: capitalize !important;
}
.detailHead{

    font-size: 0.8125rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    color: #3366ff;
    padding: 2%;
}
.detailData{

    font-size: 0.8125rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    padding: 2%;

}
.formRow{
    margin-top: 2%;
}


